body {
  margin: 0;
  padding: 0;
}

.bg-second-color {
  color: var(--second-color);
}

.bg-hero-image {
  background-image: url("../assets/images/Portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}

.header-characters .image-header-characters img {
  width: 100%;
  height: auto;
}
.search-bar {
  width: 80%;
  margin: 0 auto;
}
.header-characters .search {
  outline: none;
  background: none;
  width: 22rem;
  height: 2rem;
  border-radius: 1rem;
  color: black;
  padding: 1.2rem;
  font-size: 1.5rem;
  border: thin solid #b41f23;
}

input[type="search"] {
  color: black;
}

.content-characterCard {
  width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
