.cardComics {
  position: relative;
  width: 280px;
  height: 413px;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #d41e31, #491f8f);
  border-radius: 15px;
}

.imgComics {
  margin-bottom: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 413px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.6s;
}

.contentComics {
  margin: 3rem auto;
  margin-left: 6rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 2rem;
}

.titleComics {
  margin-bottom: 260px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(245, 246, 247);
  font-size: 18px !important;
}

.buttonComics {
  margin-top: -470px;
  margin-left: 30%;
}

.cardComics:hover .imgComics {
  height: 250px;
  left: 10%;
}
.cardComics:hover .contentComics {
  left: 1%;
  opacity: 1;
}
