.containerEvents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}

.cardevents {
  height: 350px;
  width: 300px;
  margin: 20px;
  transition: 300ms;
}

.events {
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: #9b1b56;
  position: absolute;
}

.img_events {
  height: 260px;
  width: 260px;
  background-size: cover;
  margin-bottom: 40px;
  border-radius: 10%;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px #000);
}

.description {
  height: 80px;
  width: 300px;
  background-color: #d9d9d9;
  position: absolute;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-top: 270px;
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  transition: 300ms;
  text-align: center;
}

.cardevents:hover {
  transform: scale(1);
  cursor: pointer;
}

.cardevents:hover .img_events {
  transform: translatey(-30px);
  transition: 300ms;
  filter: none;
}

.cardevents:hover .events {
  background-image: radial-gradient(white, #ea1d24);
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
