a {
  color: var(--link-color);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--first-color);
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}

.bg-second-alpha-color {
  background-color: var(--second-alpha-color);
}

.bg-dark {
  background-color: var(--second-color) !important;
}

.dropdown-item {
  color: var(--first-alpha-color);
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.dropdown-item:hover {
  color: var(--third-alpha-color);
}

.navbar-brand img {
  width: auto;
  height: 3rem;
}

.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28230, 36, 41, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28230, 36, 41, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

.nav-item {
  transition: all 0.3s ease-out;
}

.nav-item:hover {
  background-color: var(--first-alpha-color);
}

.nav-link {
  margin-left: 0.5rem;
  color: var(--first-color);
  font-size: 1.15rem;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--bs-white);
}

.sign-in-button {
  color: var(--first-color);
}

.sign-in-button:hover {
  color: var(--bs-white);
}

.bg-amount-basket {
  background-color: var(--first-color);
}

.bg-basket {
  color: var(--first-color);
}

.bg-basket:hover {
  color: var(--bs-white);
}

.p-select {
  padding-left: 0;
}

/* // X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
