.columnas-series{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards-series{
  margin: 0;
  display: grid;
  justify-content: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 15px;
  position: relative;
  width: 250px;
  height: auto;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3), -5px 0 10px rgba(0, 0, 0, 0.3),
    0 5px 10px rgba(0, 0, 0, 0.3), 0 -5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
}
.card-text-series {
  font-size: small;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img-top-series {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.title-series {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}
.card-text-series {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.btn-primary-series {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #df2226;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
  }
}
.app-series{
  background-image: url("../assets/images/backgroundSeries2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.modal-body-series {
  padding: 50px;
}

.modal-image-series {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.modal-description-series {
  font-size: large;
}
