* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.col {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards {
  margin: 0;
  display: grid;
  justify-content: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 15px;
  position: relative;
  width: 300px;
  height: 400px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3), -5px 0 10px rgba(0, 0, 0, 0.3),
    0 5px 10px rgba(0, 0, 0, 0.3), 0 -5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
}
.card-text {
  font-size: small;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img-top {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}
.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.btn-primary {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #df2226;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
  }
}
.App {
  background-image: url("../assets/images/backgroundSeries2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-content {
  background-color: #fff;
}

.modal-header {
  background-color: #e62429;
  color: #fff;
}

.modal-body {
  padding: 50px;
}

.modal-footer {
  background-color: #f8f9fa;
}
.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.modal-description {
  font-size: large;
}
