:root {
  --first-color: #e62429;
  --first-alpha-color: #e6242975;
  --second-color: #151515;
  --second-alpha-color: #15151575;
  --third-color: rgb(20, 25, 45);
  --third-alpha-color: rgba(20, 25, 45, 0.75);

  --link-color: rgb(80, 158, 227);
  --link-alpha-color: rgba(80, 158, 227, 0.75);

  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgba(245, 245, 245, 0.7);
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  /*  background-color: #151515; */
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
